.section {
    padding-top: 1.4rem;
    padding-bottom: 1.5rem;
}

.section--hero {
    background-image: url('/assets/img/fondo_pokemon_1.jpg');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    
}

.section__hero-img {
    background-color: white;

}
.section__hero-decorators {
    background-color: rgba(127, 255, 212, 0.523) ;
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 256px;
    margin: 0;
}
.section__hero-decorator {
    position: absolute;
}

.section__hero-decorator:nth-child(1) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(2) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(3) {
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__hero-decorator:nth-child(4) {
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.container {
    max-width: 1024px;  
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

.f-elements {
    display: flex;
}

.f-elements--header {
    align-items: center;
    justify-content: space-between;
}

.f-elements--center {
    align-items: center;
    justify-content: center;
}

.f-elements--responsive {
    flex-direction: column;
}

.g-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.g-elements--center {
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.g-elements--responsive {
    grid-template-columns: 100%;
}

@media (min-width: 768px) {
    .f-elements--responsive{
        flex-direction: row;
    }
    .g-elements--responsive {
        grid-template-columns: 1fr 1fr;
    }
}